@CHARSET "UTF-8";

* {
	font-family: verdana;
}

body {
	margin: 0 auto;
	width: 75%;
	background: #ddd;
}

.main {
	background: white;
}

.categories {
	display: inline-block; 
	width: 33%;
}

.text {
	font-size: 36px;
    color: #bf1624;
    text-align: center;
    font-family: Roboto Condensed;
    font-weight: 700;
    font-style: normal;
}

h2 {
	font-size: 22px;
    color: #af7817;
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
	font-size: 20px;
    color: #af7817;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.prodotto {
	display: inline-block; 
	width: 33%;
}


/**********************************/
@media screen and (max-width: 1025px) {
	body {
		margin: 0 auto;
		width: 90%;
	}
		
	.categories {
		display: inline-block; 
		width: 45%;
	}
}



/***********************************/
@media screen and (max-width: 680px) {
	body {
		margin: 0 auto;
		width: 99%;
	}
		
	.categories {
		display: inline-block; 
		width: 100%;
	}
}