@CHARSET "UTF-8";

* {
	font-family: verdana;
}

body {
	margin: 0 auto;
	width: 75%;
	background: #E4E5E0;
}

.content {
	min-height: 100vh;
}

.main {
	background: #F5F5DC;
}

.categories {
	display: inline-block; 
	width: 32%;
}

h1 {
	font-size: 30px;
    color: #af7817;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
	font-size: 22px;
    color: #af7817;
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
	font-size: 20px;
    color: #af7817;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}

h4 {
	font-size: 18px;
    color: #808080;
    font-family: serif;
    font-weight: 10;
    font-style: normal;
}

a {
	text-decoration: none;
	color: #af7817;
}

a:hover {
	color: #845b11;
}



img {
	width: 100%;
}

.prodottoID {
	display: flex;
	flex-wrap: wrap;
}

.prodotto {
	display: inline-block; 
	width: 33.3%;
	border-style: ridge;
	border-color: #af7817;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.prodottoDettaglio {
	display: flex; 
	width: 100%;
  	height: auto;
}

.prodottoDettaglioImg {
	flex: 1;
  	display: flex;
  	transition: transform .4s;
}

.prodottoDettaglioImg:hover {
  -ms-transform: scale(1.07); /* IE 9 */
  -webkit-transform: scale(1.07); /* Safari 3-8 */
  transform: scale(1.07); 
}

.prodottoDettaglioInfo {
	flex: 2;
  	display: block;
}

.prodottoIDAdmin img {
	width: 30%;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  background-color: #af7817;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit][disabled], input[type=submit][disabled]:hover {
  background-color: #ddd;
  color: graytext;
}

input[type=submit]:hover {
  background-color: #845b11;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
  	text-align: center;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #af7817;
  color: white;
}

/***********************************/
@media screen and (max-width: 980px) {
	body {
		margin: 0 auto;
		width: 95%;
	}
	
	.categories {
		display: inline-block; 
		width: 48%;
	}
	
	.prodotto {
		width: 48%;	
	}
}



/***********************************/
@media screen and (max-width: 700px) {
	body {
		margin: 0 auto;
		width: 99%;
	}
		
	.categories {
		display: inline-block; 
		width: 99%;
	}
	
	.prodotto {
		width: 98%;	
	}
	
	.prodottoDettaglio {
	display: flex; 
	width: 98%;
  	height: auto;
  	flex-direction: column;
	}

	.prodottoDettaglioImg {
		flex: 1;
	  	display: flex;
	}
	
	.prodottoDettaglioInfo {
		flex: 2;
	  	display: block;
	}
}