
body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background: url(sfondo.jpg) no-repeat;
  background-size: cover;
}
#logo{
  text-align: center;
}
#template{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  border-radius: 30px;
  background-color: rgba(255, 249, 222, 0.2);
}


.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 15px;
  margin: 20px;
}
i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color:black;
  font-size: 18px;
  width: 80%;
  float:left;
  margin: 0 15px;

}
.submit{
  width: 100%;
  background: #1a1a1a;
  color: white;
  border-radius: 20px;
  border: 2px solid;
  padding: 5px;
  font-size: 18px;

  cursor: pointer;

}
#template ::placeholder {
  color: black;
  opacity: 1;
}
.registrazione-box ::placeholder {
  color: black;
  opacity: 1;
}

.textbox :focus {
  border: 1px solid;
  border-radius: 10px;
}
.registra {
  text-align: center;
  font-size: 17px;

}

#errorMessage{
  text-align: center;
}

.textbox-registrazione{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.textbox-registrazione input{
  border: none;
  outline: none;
  background: none;
  color:black;
  font-size: 17px;
  width: 80%;
  float:left;
  margin: 0 15px;

}
.textbox-registrazione :focus {
  border: 1px solid;
  border-radius: 10px;
}
a:link {
  color: red;
}
.privacy{
  padding: 15px;
  margin: 10px;
}
#passwordMessage{
  display: none;
}

.nomeCognome{
	display: inline-block;
}

.nomeCognome input{
	width: 40%;
	float: left;
	margin: 0 10px;
}
