<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Prodotti_Locali</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PutPicture</servlet-name>
    <servlet-class>ecommerce.controller.PutPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutPicture</servlet-name>
    <url-pattern>/PutPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPicture</servlet-name>
    <servlet-class>ecommerce.controller.GetPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPicture</servlet-name>
    <url-pattern>/GetPicture</url-pattern>
  </servlet-mapping>
</web-app>